.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
.musica {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
  }
  .musica li {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 0;
    background-color: rgb(236, 226, 255);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .musica li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .musica li.selected {
    background-color: rgb(255, 255, 255);
    color: white;
  }
  .musica li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .musica .badgeID {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#4a0697;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .musica .badge {
    display: inline-block;
    font-size: small;
    color: rgb(41, 1, 73);
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#d7d0d8;
    line-height: 1em;
    position: relative;
    left: -12px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }