
<mat-card *ngFor="let formacao of formacoes; let i = index"> 
  <h2>{{formacao.musica.titulo}}</h2> 
  <mat-slide-toggle [(ngModel)]="permiteAdaptacao" >Adaptação</mat-slide-toggle>
  <table>

    <tr  *ngFor="let integrante of formacao.musica.integrantes; let j = index">
        <th>{{integrante}}</th>
        
        <th>
        <mat-form-field>
          <mat-label>Interessados</mat-label>
          <mat-select  [formControl]="associacoesDeFormacoes[i][j]" multiple>
            <mat-option *ngFor="let interessado of formacao.musica.usuariosInteressados" [value]="interessado">{{interessado}}</mat-option>
          </mat-select>
        </mat-form-field>
        </th>

    </tr>

  </table>

  <button mat-button (click)="submeter()">Submeter formationn ~~</button>


</mat-card>
