
<mat-card *ngFor="let formacao of formacoes; let f = index"> 
  <h2>{{formacao.musica.titulo}}</h2> 
  <table>

    <tr  *ngFor="let integrante of formacao.musica.integrantes; let i = index">
        <th>{{integrante}}</th>
        
        <th>
        <mat-form-field>
          <mat-label>Interessados</mat-label>
          <mat-select  [formControl]="associacoesDeFormacoes[f][i]" multiple>
            <mat-option *ngFor="let interessado of formacao.musica.usuariosInteressados" [value]="interessado.nome">{{interessado.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
        </th>

    </tr>

  </table>

  <button mat-button (click)="submeter()">Submeter formationn ~~</button>


</mat-card>
